<!DOCTYPE html>

<html lang="en">

<head>
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<title>Poem</title>
</head>

<body>
	If you always try your best<br>
    Then you'll never have to wonder<br>
    About what you could have done<br>
    If you'd summoned all your thunder.<br>
    <br>
    And if your best<br>
    Was not as good<br>
    As you hoped it would be,<br>
    You still could say,<br>
    "I gave today<br>
    All that I had in me."<br>
    <br>
    <form action="/next_poem">
        <button type="submit">Open Next Poem</button>
    </form>
</body>

</html>
